<!doctype html>
{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="container p-0">
    <div class="row">
        <div class="col p-0">
            <div class="row">
                <form action="" class="form-outline">
                    <input type="file" class="form-control m-2" id="ifc-input">
                </form>    
            </div>
            <div class="row">
                {% include 'include\toolbar.html' %}
            </div>
            <div class="row">
                <div class="col rounded p-0">
                    <div class="col  mb-3" id="viewer-container">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script>const logo = "{% static 'viewer/assets/DICE.svg' %}"</script>
<script src="{% static 'viewer/viewer.js'%}"></script>
<script src="{% static 'js/context-menu.js'%}"></script>
{% endblock content %}

